@import "styles/abstracts/mixins";

.modal_footer {
  width: 100%;
  @include flex(center, center);
  padding-bottom: 20px;
}

.modal_footer__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
