@import "styles/abstracts/variable";

@mixin screen-padding {
  padding: 65px 80px;
  @media (max-width: ($md1 + px)) {
    padding: 45px 60px;
  }

  @media (max-width: ($md3 + px)) {
    padding: 15px 20px;
  }
}

@mixin flex($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}
