$primary: #ffc59e;
$secondary: #59443f;
$text: #080606;
$background: #fffefe;
$error: #ff9ea8;
$success: #a8ff9e;

$primary-light: #fbf8f8;
$primary-middle: #c3b9b5;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 1024.98;
$md3: 872.98;
$md4: 606.98;
