@import "styles/base/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "RobotoSlab";
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}
