@import "styles/abstracts/variable";

.wrapper {
  height: 100vh;
  background-color: $background;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 469px;
}
.main {
  grid-area: main;
}
