@import "styles/abstracts/variable";
@import "styles/abstracts/mixins";

.linkButton {
  padding: 24px 77px;

  background-color: transparent;

  @include font(20px, 700, 20px, normal, $primary-middle, "FuturaNew");
  text-align: center;

  transition: color 0.3s ease;

  &:hover {
    color: $primary;
  }
}
