@import "styles/abstracts/variable";
@import "styles/abstracts/mixins";

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include screen-padding;
}