@import 'styles/abstracts/variable';

.menu {
  display: flex;
  align-items: center;
  padding: 40px;
}

.menu__button {
  display: none;
}

.menu__nav {
}

.nav {
}

.nav__body {
  display: flex;
  align-items: center;
  gap: 80px;

  text-decoration: none;
}

@media (max-width: ($maxWidth + px)) {
  .menu {
    padding: 20px;
  }
  .nav__body {
    gap: 40px;
  }
}

@media (max-width: ($md1 + px)) {
  .nav__body {
    gap: 20px;
  }
}

@media (max-width: ($md3 + px)) {
  .menu__button {
    display: block;
  }

  .nav {
    transform: translateX(100%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 130px;
    background-color: $secondary;
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .nav_active {
    transform: translateY(0);
  }

  .nav__body {
    flex-direction: column;
  }
}
